ProtonVPN.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
fastlane/report.xml
fastlane/test_output
DerivedData
fastlane/README.md
.last_build_nr
libraries/vpncore/Source/LocalizedString.swift
