[submodule "external/protoncore"]
	path = external/protoncore
	url = ../../shared/protoncore
	tag = 16.2.0
[submodule "tunnelkit"]
	path = external/tunnelkit
	url = ../tunnelkit
	tag = v7.0.1
[submodule "external/apple-fusion"]
	path = external/apple-fusion
	url = ../../../tpe/apple-fusion
[submodule "external/wireguard-apple"]
	path = external/wireguard-apple
	url = https://github.com/ProtonVPN/wireguard-apple.git
