ProtonVPN.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
fastlane/report.xml
fastlane/test_output
DerivedData
fastlane/README.md
.last_build_nr

.swiftpm

libraries/vpncore/Source/LocalizedString.swift

sampleapps/OnboardingSampleApp/OnboardingSampleApp.xcodeproj/xcuserdata

# Dynamic bug report lib and examples
libraries/BugReport/BugReport.xcodeproj/xcuserdata
sampleapps/BugReportSampleMacOSApp/BugReportSampleMacOSApp.xcodeproj/xcuserdata
sampleapps/BugReportSampleiOSApp/BugReportSampleiOSApp.xcodeproj/xcuserdata
