<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>plan</key>
		<string>ProtonVPN Free</string>
		<key>username</key>
		<string>username_free</string>
		<key>password</key>
		<string>password1</string>
	</dict>
	<dict>
		<key>plan</key>
		<string>ProtonVPN Basic</string>
		<key>username</key>
		<string>username_paid</string>
		<key>password</key>
		<string>password2</string>
	</dict>
</array>
</plist>
