<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocalAgent</key>
	<dict>
		<key>ConnectionDetails</key>
		<true/>
	</dict>
	<key>Logicals</key>
	<dict>
		<key>PartnerLogicals</key>
		<true/>
	</dict>
	<key>Test</key>
	<dict>
		<key>NegativeFeatureFlag</key>
		<false/>
		<key>PositiveFeatureFlag</key>
		<true/>
	</dict>
</dict>
</plist>
