stages:
  - linting
  - unit_tests
  - screenshots
  - beta
  - beta_staging
  - mirror

variables:
  LC_ALL: "en_US.UTF-8"
  LANG: "en_US.UTF-8"
  GEM_HOME: "$CI_PROJECT_DIR/gem"
  PUBLIC_REPO_URL: git@github.com:ProtonVPN/ios-app.git

.linux-common: &linux-common
  image: ubuntu:latest
  cache: {}
  stage: mirror
  before_script:
    - apt-get -y update
    - apt-get install -y connect-proxy git
    - 'which ssh-agent || apt-get -y install openssh-client'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - git config --global user.email $GIT_CI_EMAIL
    - git config --global user.name $GIT_CI_USERNAME
    - git config --global url."https://".insteadOf git://
    - mkdir ~/.ssh 2> /dev/null
    - |
      cat <<EOF > ~/.ssh/config
      Host github.com
          Hostname ssh.github.com
          User git
          Port 443
          ProxyCommand connect-proxy -H $http_proxy %h %p
      EOF
    - ssh-keyscan -t rsa ${CI_SERVER_HOST} > ~/.ssh/known_hosts
    ## ssh-keyscan doesn't support proxies so we can't fetch the fingerprint online
    - |
      cat <<EOF >> ~/.ssh/known_hosts
      # ssh.github.com:443 SSH-2.0-babeld-2e9d163d
      [ssh.github.com]:443 ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==
      EOF

.before_script_mac: &before_script_mac
  - rm -fr ../vpncore || true # ignore failure to delete
  - git clone --depth 1 -b ${CI_COMMIT_REF_NAME} https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.protontech.ch/apple/vpn/vpncore.git ../vpncore || git clone --depth 1 -b develop https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.protontech.ch/apple/vpn/vpncore.git ../vpncore # checkout the same named branch, or default to develop branch
  - rm -fr ../pmchallenge || true # ignore failure to delete
  - git clone --depth 1 -b 0.0.2 https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.protontech.ch/apple/shared/pmchallenge.git ../pmchallenge
  - cd ProtonVPNUITests/ && Scripts/prepare_credentials.sh && cd ..
  - pod install

lint:
  stage: linting
  tags:
    - iOS
  before_script:
    - *before_script_mac
  script:
    - Pods/SwiftLint/swiftlint --strict --reporter junit > swiftlint.xml
  allow_failure: false
  artifacts:
    name: "ios-lint-$CI_COMMIT_TAG"
    paths:
      - swiftlint.xml
    reports:
      junit:
        - swiftlint.xml
    expire_in: 90 days

unit_tests:
   dependencies: []
   stage: unit_tests
   allow_failure: false
   before_script:
     - *before_script_mac
   script:
     - cd ProtonVPN/ && ../../vpncore/Source/prepare_obfuscated_constants.sh && cd ..
     - defaults write com.apple.iphonesimulator ConnectHardwareKeyboard 0 # Fixed UI tests failing on secure field
     - fastlane test
     - fastlane/print-coverage.sh fastlane/test_output/ProtonVPN.xcresult
   tags:
     - iOS
   artifacts:
     name: "ios-tests-$CI_COMMIT_TAG"
     when: always
     paths:
       - fastlane/test_output/
     expire_in: 3 days
     reports:
       junit:
         - fastlane/test_output/report.junit
        
screenshots:
  stage: screenshots
  before_script:
    - *before_script_mac
  script:
    - fastlane screenshots
  tags:
    - iOS
  artifacts:
    name: "ios-screens"
    when: always
    paths:
      - fastlane/screenshots/
    expire_in: 3 days
  only:
    - schedules

testflight_internal:
  stage: beta
  before_script:
    - *before_script_mac
  script:
    - curl -sL https://sentry.io/get-cli/ | bash || true
    - base64 -D -o Certificates.p12 <<< $DISTRIBUTION_CERTIFICATE
    - fastlane sigh download_all --download_xcode_profiles
    - cd ProtonVPN/ && ../../vpncore/Source/prepare_obfuscated_constants.sh && cd ..
    - fastlane ios internal_beta changelog:"Latest $CI_COMMIT_REF_NAME build"
  tags:
    - iOS-deploy
  environment:
    name: deployment
  when: manual
  artifacts:
    name: "ios-build-nr"
    when: always
    paths:
      - .last_build_nr
    expire_in: 7 days

testflight_staging:
  stage: beta_staging
  dependencies:
    - testflight_internal # We need a build number generated there
  before_script:
    - *before_script_mac
  script:
    - curl -sL https://sentry.io/get-cli/ | bash || true
    - base64 -D -o Certificates.p12 <<< $DISTRIBUTION_CERTIFICATE
    - fastlane sigh download_all --download_xcode_profiles
    - cd ProtonVPN/ && ../../vpncore/Source/prepare_obfuscated_constants.sh && cd ..
    - fastlane ios internal_staging changelog:"Latest $CI_COMMIT_REF_NAME build"
  tags:
    - iOS-deploy
  environment:
    name: deployment
  when: manual
  
sync-app:
  extends: .linux-common
  <<: *linux-common
  only:
      refs:
        - master
  artifacts:
    expire_in: 1 day
    paths:
      - log.txt
  script:
    - git clone git@gitlab.protontech.ch:agarroux/publish-github.git
    - ./publish-github/sync commit --private-url $CI_REPOSITORY_URL --public-url "$PUBLIC_REPO_URL"
  
publish-github-release:
  extends: .linux-common
  <<: *linux-common
  only:
    refs:
      - tags
  artifacts:
    expire_in: 1 day
    paths:
      - log.txt
  script:
    - git clone git@gitlab.protontech.ch:agarroux/publish-github.git
    - ./publish-github/sync tag --private-url $CI_REPOSITORY_URL --public-url "$PUBLIC_REPO_URL"
