//
//  Config.xcconfig
//  iOS
//
//  Created by Igor Kulman on 24.05.2021.
//  Copyright © 2021 Proton Technologies AG. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Setup how logs are treated by os_log for different build configurations

OSLOG_LEVEL_ENABLE[config=Debug] = Debug
OSLOG_LEVEL_PERSIST[config=Debug] = Debug

OSLOG_LEVEL_ENABLE[config=Staging] = Debug
OSLOG_LEVEL_PERSIST[config=Staging] = Debug

OSLOG_LEVEL_ENABLE[config=Release] = Inherit
OSLOG_LEVEL_PERSIST[config=Release] = Inherit

REDESIGN = 0
DEPLOYMENT_TARGET0 = 15.0
DEPLOYMENT_TARGET1 = 15.0
DEPLOYMENT_TARGET = $(DEPLOYMENT_TARGET$(REDESIGN))

REDESIGN_SWIFTFLAGS0 =
REDESIGN_SWIFTFLAGS1 = -DREDESIGN
REDESIGN_SWIFTFLAGS = $(REDESIGN_SWIFTFLAGS$(REDESIGN))

IOS_APP_VERSION = 5.0.1
