<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Южно-Африканская Республика</key>
	<string>ЮАР</string>
	<key>Соединенные Штаты Америки</key>
	<string>США</string>
</dict>
</plist>
